.header{
 
    background: #CCA16D;
    box-shadow: 1px 1px 1px #000;
}
.content{
    
    background-color: #cc55ff; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-size: cover;
}
.footer{
    
    background-image: url('asr.gif');
}
h1,h2{
    text-align: center;
    box-shadow: 1px 1px 1px #000;
}
.level-2{
    font-family: Tahoma, sans-serif;
    text-decoration: underline;
    font-size: 20px;
    color: aqua;
}
.level-2 a{
    color: chartreuse;
}
div{
    height: 200px;
    width: 50%;
}
ul{
    list-style-type: none;    
}
span{
    
}
